<!-- Begin Loader -->
<div class="loader"></div>
<!-- End Loader -->

<header>

    <a href="index.html" class="logo-container">
        <p>The Master List</p>
    </a>

    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li>
                <a href="#">PAGES</a>
                <ul>
                    <li><a href="/about">ABOUT ME</a></li>
                    <li><a href="/contact">CONTACT US 1</a></li>
                </ul>
            </li>
            <li>
                <a href="/blog">BLOG</a>
            </li>
        {{#if isAuthenticated }}
            <li><a href="#">{{user.name}}
            	<ul>
            		<li><a href="#">PREFERENCES</a></li>
            		<li><a href="#">LOG OUT</a></li>
            	</ul>
            </li>
	    {{else}}
	    	<li><a href="#signup-form" class="signup-form" id="sign_up_link" >SIGN UP</a></li>
	        <li><a href="#signin-form" class="signin-form" id="sign_in_link" >SIGN IN</a></li>
	    {{/if}}
        </ul>
    </nav>

    <a href="#" class="mobile-navigation icon3-list2"></a>

</header>

{{> signup }}
{{> signin }}
